<!--  NAV  -->
<div class="productos-main">
  <div class="navbar-prod">
    <div class="title-navbar-prod">
      <h4><strong>CATEGORIAS</strong></h4>
    </div>
  </div>
  <!---->
  <section>
    <div class="container">
      <div id="carouselFourColumn" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselFourColumn" data-slide-to="0" class="active"></li>
          <li data-target="#carouselFourColumn" data-slide-to="1"></li>
          <!--<li data-target="#carouselFourColumn" data-slide-to="2"></li>-->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00001.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Smartwatch</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00001.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Smartwatch</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00003.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00003.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00003.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Tecnologia</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00001.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Smartwatch</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00004.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Juguestes niños</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-1">
                <div class="card">
                  <img src="../../../assets/images/JGT00001.webp" class="w-100">
                  <div class="card-body">
                    <h5 class="card-title">Smartwatch</h5>
                    <a href="#" class="btn btn-outline-success w-100">Ver categoria</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselFourColumn" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselFourColumn" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>

  <!--<div class="categorias">
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00001.webp" alt=""></a>
      <p>SmartWatch</p>
    </div>
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00004.webp" alt=""></a>
      <p>Jugueteria</p>
    </div>
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00003.webp" alt=""></a>
      <p>Tecnologia</p>
    </div>
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00005.webp" alt=""></a>
      <p>Sillas niños</p>
    </div>
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00007.webp" alt=""></a>
      <p>Control Remoto</p>
    </div>
    <div class="cate">
      <a href="#"><img class="img-prod" src="../../../assets/images/JGT00006.webp" alt=""></a>
      <p>Carros niños</p>
    </div>
  </div>-->
  <!------------------------------------------------------------------------------------------>

  <div class="navbar-prod">
    <div class="title-navbar-prod">
      <h4><strong>NUESTROS PRODUCTOS</strong></h4>
    </div>
  </div>
  <!--<div class="sidebar" *ngIf="mostrarLista">
    <div class="item-search">
      <i class="fa-solid fa-magnifying-glass" (click)="buscarProductoLista()"></i>
    </div>
    <!-- <div class="item-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
  <div class="item-list" *ngFor="let category of listCategoria">
    <ul>
      <li>{{category}}</li>
    </ul>
  </div>
    </div>-->
  <div class="products" *ngIf="mostrarLista">
    <div class="content-products">
      <div class="category">
        <!-- <p class="title-category">{{category.itemCategory}}</p> -->
        <div class="list-products">
          <div class="card-product" *ngFor="let category of listItemByCategory">
            <div class="img-product">
              <img src='../../../assets/images/{{category.No_}}.webp' alt="">
            </div>
            <div class="content-product">
              <div class="head-card">
                <div class="ctitle"><!--<p class="contador">1</p>--><p><strong>{{category.searchDescription}}</strong></p></div>
                <p class="cdescrip">{{category.manufacturerCode}}</p>
              </div>
              <div class="footer-card">
                <p>{{category.unitPrice | currency : 'PEN'}}</p>
                <button type="button" class="action-card" (click)="enviarProducto(category, 1)"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-product" *ngIf="!mostrarLista">
    <div class="input-search">
      <!-- <input type="text" #text (change) = "buscarProducto(text.value)" > -->
      <input type="text" [(ngModel)]="buscar" (ngModelChange)="buscarProducto($event)">
      <button type="button" (click)="cerrarBuscador()">Cerrar</button>
    </div>
    <div class="products" *ngIf="!mostrarLista">
      <div class="content-products">
        <div class="category">
          <!--<p class="title-category">COCINA</p>-->
          <div class="list-products">
            <div class="card-product" *ngFor="let product of productosFilter">
              <div class="img-product">
                <img src='../../../assets/images/{{product.No_}}-1.webp' alt="">
              </div>
              <div class="content-product">
                <div class="head-card">
                  <div class="ctitle"><!--<p class="contador">1</p>--><p><strong>{{product.searchDescription}}</strong></p></div>
                  <p class="cdescrip">{{product.manufacturerCode}}</p>
                </div>
                <div class="footer-card">
                  <p>{{product.unitPrice | currency : 'PEN'}}</p>
                  <button type="button" class="action-card" (click)="enviarProducto(product, 1)"><i class="fa-solid fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-carrito" *ngIf="QuantityTotal!=0">
    <button type="button" [routerLink]="['/cart']">
      <div class="quantity-total">
        <strong>{{QuantityTotal}}</strong>
      </div>
      <div class="text-button">
        <strong>Ver carrito</strong>
      </div>
      <div class="amount-total">
        <strong>{{AmountTotal | currency : 'PEN'}}</strong>
      </div>
    </button>
  </div>

  <!-- MODAL -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>
<a href="https://api.whatsapp.com/send?phone=991197152"
    class="btn-wsp" target="_blank">
  <i class="fa-brands fa-whatsapp"></i>
</a>

