<div class="sidebar">
    <div class="item-search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="item-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="item-list">
        <ul>
            <li>COCINA</li>
            <li>BAÑO</li>
            <li>LAVANDERIA</li>
            <li>DORMITORIO</li>
            <li>VARIOS</li>
            <li>ARTÍCULOS PARA BEBÉS</li>
        </ul>
    </div>
</div>

<div class="products">
    <div class="content-products">
        <div class="category">
            <p class="title-category">COCINA</p>
            <div class="list-products">
                <div class="card-product">
                    <div class="img-product">
                        <img src="" alt="">
                    </div>
                    <div class="content-product">
                        <div class="head-card">
                            <p>AFILADOR DE CUCHILLOS</p>
                            <p>📌Afilador de cuchillos con mango ergonómico. 📌Antideslizante</p>
                        </div>
                        <div class="footer-card">
                            <p>S/. 12.00</p>
                            <p><i class="fa-solid fa-square-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <img src="" alt="">
                    </div>
                    <div class="content-product">
                        <div class="head-card">
                            <p>AFILADOR DE CUCHILLOS</p>
                            <p>📌Afilador de cuchillos con mango ergonómico. 📌Antideslizante</p>
                        </div>
                        <div class="footer-card">
                            <p>S/. 12.00</p>
                            <p><i class="fa-solid fa-square-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <img src="" alt="">
                    </div>
                    <div class="content-product">
                        <div class="head-card">
                            <p>AFILADOR DE CUCHILLOS</p>
                            <p>📌Afilador de cuchillos con mango ergonómico. 📌Antideslizante</p>
                        </div>
                        <div class="footer-card">
                            <p>S/. 12.00</p>
                            <p><i class="fa-solid fa-square-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="img-product">
                        <img src="" alt="">
                    </div>
                    <div class="content-product">
                        <div class="head-card">
                            <p>AFILADOR DE CUCHILLOS</p>
                            <p>📌Afilador de cuchillos con mango ergonómico. 📌Antideslizante</p>
                        </div>
                        <div class="footer-card">
                            <p>S/. 12.00</p>
                            <p><i class="fa-solid fa-square-plus"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>