<div class="sidebar">
    <div class="item-search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="item-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="item-list">
        <ul>
            <li>COCINA</li>
            <li>BAÑO</li>
            <li>LAVANDERIA</li>
            <li>DORMITORIO</li>
            <li>VARIOS</li>
            <li>ARTÍCULOS PARA BEBÉS</li>
        </ul>
    </div>
</div>

<div class="products">
    <div class="content-products">
        <div class="category">
            <p class="title-category">COCINA</p>
            <div class="list-products">
                <div class="card-product" *ngFor="let product of item">
                    <div class="img-product">
                        <img src='../../../assets/images/{{product.idItem}}.webp' alt="">
                    </div>
                    <div class="content-product">
                        <div class="head-card">
                            <p class="ctitle">{{product.desc1Item}}</p>
                            <p class="cdescrip">{{product.desc2Item}}</p>
                        </div>
                        <div class="footer-card">
                            <p>{{product.price | currency : 'PEN'}}</p>
                            <button type="button" class="action-card" (click)="enviarProducto(product)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>