<footer>
  <div class="footer-main">
    <div class="container footer">
      <div class="img-logo-footer">
        <img class="logo-footer" src="../../../assets/images/logo_2.jpg" alt="" />
        <div class="whatsapp">
          <a href="https://www.whatsapp.com/?lang=es"><img class="img-w" src="../../../assets/images/whatsapp_logo.png" /></a>
          <p>991 197 152</p>
        </div>
        <div class="location">
          <img class="img-u" src="../../../assets/images/ubicacion_logo.png" />
          <p>
            Av.La Marina 1602 oficina 259-260, Pueblo Libre, Lima-Perú.
          </p>
        </div>
        <a href="https://www.facebook.com/PuntoVentaGD"><img class="img-f" src="../../../assets/images/facebook_logo.jpg" /></a>
        <a href="https://globaldigitalperu.com/"><img class="img-i" src="../../../assets/images/instagram_logo.jpg" /></a>
        <a href="https://pe.linkedin.com/"><img class="img-l" src="../../../assets/images/linkedin_logo.jpg" /></a>
      </div>
    </div>
    <div class="post-logo-footer">
    <!--txt-->
    <div class="txt">
      <p>
        Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit.<br />
        Duis cursus pellentesque erat,<br /> at viverra risus egestas vel.<br />
        Duis a pharetra enim. Nunc id urna velit.<br /> Cras pharetra lorem sit amet magna.<br />
      </p>
    </div>
    <!--lstmenu-->
    <div class="lst">
      <nav>
        <ul>
          <li><strong>MENU PRINCIPAL</strong></li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Empresa</a></li>
          <li><a href="#">Producto</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">WebMail</a></li>
        </ul>
      </nav>
    </div>
    <!--lstprod-->
    <div class="lst">
      <nav>
        <ul>
          <li><strong>PRODUCTOS</strong></li>
          <li><a href="#">Lorem Ipsus</a></li>
          <li><a href="#">Lorem Ipsus</a></li>
          <li><a href="#">Lorem Ipsus</a></li>
          <li><a href="#">Lorem Ipsus</a></li>
          <li><a href="#">Lorem Ipsus</a></li>
          <li><a href="#">Lorem Ipsus</a></li>
        </ul>
      </nav>
    </div>
    <!--lsthorario-->
    <div class="txt1">
      <p>
        <strong>HORARIO DE ATENCIÓN</strong><br />
        Atendemos de:<br />
        Lun - Vie 9:00am 6:00pm<br />
        Sabados de:<br />
        9:30am a 12:00pm<br />
      </p>
    </div>
    <!--Libro de reclamaciones-->
    <div>
      <a href="#"><img class="img-lr" href="#" src="../../../assets/images/libRec_logo.jpg" /></a>
    </div>
  </div>
  </div>
</footer>
