/* Header */
.container {
 max-width: 100%;
}

.header-main {
  width: 100%;
  height: 100%;
  text-align: center;
}

.header {
  left: 0;
  top: 0;
  right: 0;
  background: white;
  color: #0D30BE;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.banner-navbar {
  width: 100%;
  height: 70%;
  max-width: 100%;
  max-height: 70%;
  background-image: url('../../../assets/images/banner_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.img-logo {
  max-width: 100%;
  height: 100px;
  margin-left: 50px;
}

.logo {
  margin-top: -50px;
  margin-right: 10px;
}

.menu-cate {
  text-decoration: none;
  background-color: #0d6efd;
  border-radius: 5px;
  border: 0px;
  color: white;
}

  .menu-cate option {
    color: white;

  }

.icons {
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 3cm;
}

.form {
  width: 1000px;
  display: inline-block;
  margin-left: -220px;
  margin-right: -90px;
  margin-top: -20px;
}


.post-logo {
  background: #0D30BE;
  text-align: left;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.container logo-nav {
  /*display: flex;*/
  justify-content: space-between;
  /*align-items: center;*/
  display: inline-block;
  width: 100%;
  height: 100%;
  /*text-align: center;*/
  flex-wrap: wrap;
}

/*.container-icons {
 display: inline-block;
}

.container-form {
 display: inline-block;
}*/

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  margin-left: 40px;
  transition: all 0.4s linear;
}

.navigation ul li a:hover {
  border-radius: 80px 100px / 120px;
  background: #304cf8;
}

.img-logo img {
  top: 100px;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}

.img-logo a {
  margin-top: 33px;
  float: right;
  padding: 0.5rem 0.5rem;
  height: 35px;
  border-radius: 1px;
  color: rgb(117, 117, 117);
}

  .img-logo a:hover {
      border-radius: 60%;
    background: #EEEEEE;
  }

.img-logo form {
  width: 60%;
  margin-top: 25px;
  margin-right: 90px;
  float: right;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5px;
}

/*.img-logo form input{
  width: 70%;
  float: right;
}*/

  .img-logo form button {
    width: 5rem;
    float: right;
  }

/*Carrusel*/
.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

  .slider ul {
    padding: 0;
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 300%;
  }

  .slider li {
    width: 100%;
    height: 500px;
    list-style: none;
  }

  .slider img {
    width: 100%;
    height: 500px;
  }

@keyframes cambio {
  0% {margin-left: 0%;}
  20% {margin-left:0%;}

  25% {margin-left:-100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left:-300%;}

}


@media only screen and (max-width: 1090px) {
  .container {
    max-width: 100%;
  }

  .header-main {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: white;
    margin-left: 5.5cm;
    padding: 0.5rem 1rem;
    /*margin-right: 5cm;*/
  }

    .menu-icon i {
      margin-left: -5px;
      cursor: pointer;
    }

    .container logo-nav {
      justify-content: space-between;
      display: inline-block;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
    }

  .img-logo {
    max-width: 100%;
    max-height: 100%;
  }

  .logo {
    margin-top: -50px;
    margin-left: -55px;
  }

  .icons {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 4.6cm;
  }

  .form {
    width: 10px;
    margin-left: 90px;
    /*margin-right: -30px;*/
    /*margin-top: -20px;*/
  }

  .navigation {
  width: 100%
  }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
      display: block;
    }

  .navigation ul li {
    display: block;
  }

  .navigation ul li a {
   display: block;
   padding: 0.5rem 0;
   margin-left: 40px;
   transition: all 0.4s linear;
   }

  .navigation ul li a:hover {
   border-radius: 80px 100px / 120px;
   background: #304cf8;
   }
 

}


