<div class="navbar">
    <div class="banner-navbar">
        <img src="../../../assets/images/banner.webp" alt="">
    </div>
    <div class="logo-navbar">
        <img src="../../../assets/images/logo.webp" alt="">
    </div>
    <div class="title-navbar">
        <h4>TOTAL MARKET</h4>
    </div>
    <div class="social-navbar">
        <div class="content-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</div>