<div class="back-menu">
    <button type="button" class="" [routerLink]="['/products']"><i class="fa-solid fa-angle-left"></i><p>Volver al menú</p></button>
</div>
<div class="bar-description">
    <div class="title-bar">
        <p>Su Carrito</p>
    </div>
    <div class="description-bar">
        <div class="quantity">
            <p *ngIf="TotalQuantity>0">{{TotalQuantity}}</p>
        </div>
        <div class="total-amount">
            <p *ngIf="TotalAmount>0">{{TotalAmount | currency : 'PEN'}}</p>
        </div>
    </div>
</div>
<div class="list-cart">
    <div class="card-product" *ngFor="let item of item">
        <div class="img-product">
            <img src="../../../assets/images/{{item.idItem}}.webp" alt="">
        </div>
        <div class="content-product">
            <div class="head-card">
                <p class="ctitle">{{item.desc1Item}}</p>
                <p class="cprice">{{item.price | currency : 'PEN'}}</p>
            </div>
            <div class="footer-card">
                <div class="action-card">
                    <i class="fa-solid fa-trash" (click)="quitarProducto(item)" *ngIf="item.stock==1"></i>
                    <i class="fa-solid fa-minus" (click)="restarCantidad(item, -1)" *ngIf="item.stock>1" ></i>
                    <p>{{item.stock}}</p>
                    <i class="fa-solid fa-plus" (click)="sumarCantidad(item, 1)" ></i>
                </div>
            </div>
        </div>
    </div>
</div>